<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Items:</b>
  <ul>
    <% @user.items.each do |item| %>
      <li><%= item.name %></li>
    <% end %>
  </ul>
  <%= link_to 'Add an Item', new_item_path %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
